h1 {color: red;}

html{
	background: url(backgroundimage3.jpg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
}
body{
	line-height: 80px;
}

form{
	color:white;
	font-size: 30px;
	text-align: center;
}

.linkme{
	text-decoration: underline;
	color:black;
	cursor: pointer;


}

.linkme:hover
{

 	color:white;
}

